{erl_opts, []}.
{deps, []}.
{deps, [
    {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}},
    {jsx, "2.0.8", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.0.8"}}},
    {eredis, ".*", {git, "git://github.com/wooga/eredis.git", {branch, "master"}}},
    {cowboy, "1.0.4",{git, "git://github.com/ninenines/cowboy.git", {tag, "1.0.4"}}},
    {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}},
    {erlsom, ".*", {git, "git://github.com/willemdj/erlsom.git", {branch, "master"}}}
]}.